.flexbox-container {
    margin-top: 10px;
    flex-wrap: wrap;
    /* BEGIN EDIT CAM-SV */
    /* display: flex; */
    /* END EDIT CAM-SV */
}
.container-flexbox {
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    height: 750px;
}
a {
    text-decoration: none !important;
}

.btn-divide-page{
    float: right;
    padding: 0;
}


.title {
    text-overflow: ellipsis;
    text-align: left;
    margin: 20px auto 0;
    letter-spacing: .1px;
    font-size: 13px;
    color: #242424;
    overflow: hidden;
    height: 35px;
    display: block; 
}
.image{
     overflow: hidden;
     display: block;
     margin: 10px auto 0;
     text-align: center;
     background: #fff;
     height: 200px;
     white-space: nowrap;
}
/* BEGIN ADD HUUDANH-NG */
.image img {
    width: 100%;
}
/* END  ADD HUUDANH-NG */
.box {
    display: inline-block;
    height: 350px;
    margin: 5px;
}

.one {
    background: red;
    width: 25%;
   
    background-repeat: no-repeat;
}

.two {
    background: yellow;
    width: 25%;
    background-repeat: no-repeat;
}

.three {
    background: green;
    width: 25%;
    background-repeat: no-repeat;
}

.four {
    background: blue;
    width: 25%;
    background-repeat: no-repeat;
}

.five {
    background: blue;
    width: 25%;
    background-repeat: no-repeat;
}
.six {
    background: blue;
    width: 25%;
    background-repeat: no-repeat;
}