footer {
    margin-top: 20px;
}

.wrap {
    padding: 10px 0px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-weight: 400;
}

.info,
.checkout {
    padding: 0px 15px;
    height: 700px;
}

.panel-default {
    margin-top: 20px;
}

.panel-transportation {
    background: white;
}

.panel-title {
    margin: 20px 0px;
    box-sizing: border-box;
}

.panel-checkout{
    margin-top: 68px;
}

.panel-transportation {
    padding: 10px 15px 0;
    box-sizing: border-box;
}