/* BENGIN ADD HUUDANH-SV */
.detail_container {
    margin-left: 3%;
    margin-right: 3%;
    background: white;
}
.product_detail_container {
    margin-left: 0px!important;
    margin-right: 0px!important;    
}
.img_side {
    max-width: 100%!important;
    padding-right: 20px;
    border: 1px solid #b2bec3;
    border-style: none solid none none;
    margin-left: 0px!important;
    margin-right: 0px!important;    
}
/* BEGIN LEFT COLUMN */
.small_img {
    max-width: 100%;
    margin: auto;
}
.product_small_img_column {
    /* padding-left: 0!important;
    padding-right: 0!important; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.small_img_container {
    width: 100%;
    padding: 5px;
    border: 1px solid #ecf0f1;
    border-radius: 2%;
    margin-left: 20%;
}
.small_img_container:hover {
    border: 1px solid #2c3e50;
}
/* END LEFT COLUMN */
/* BEGIN MIDDLE COLUMN */
.product_image_div {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    align-self: center;
    margin: auto;
    
}

.product_img {
    max-width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 5px #b2bec3;    
}
.product_image_wraper {
}
/* END MIDDLE COLUMN */
/* BEGIN RIGHT COLUMN */
.product_info_wraper {
    padding: 0!important;
}
.general_info_container {
    padding-left: 20px;
    height: 100px;
    border: 1px solid #b2bec3;
    border-style: none none solid none;
}
/* END RIGHT COLUMN */

.same_producer_list {
    width: 100%;
    height: 100px;
    background: blue;
}
.same_type_list {
    width: 100%;
    height: 100px;
    background: blueviolet;
}
/* END ADD HUUDANH-SV */
