.web_container {
  margin: 0 auto;
}

body {
  background: #f4f4f4;
  position: relative;
}

.color_header {
  background: #00ffa1;
}

.color_navbar {
  background-color: #e3f2fd;
}

.flex {
  display: flex;
}

.custom_header {
  padding: 10px 20px;
  display: flex;
}

.full_width {
  width: 100%;
}

.color_footer {
  background: #1abc9c;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.check_out {
  vertical-align: middle;
  border: 2px solid #000;
  padding: 8px 11px 8px 11px;
  border-radius: 4px;
}

.check_out .text {
  margin-left: 10px;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.check_out .count {
  color: #4a4a4a;
  background: #fdd835;
  height: 20px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-left: 9px;
  font-size: 12px;
  padding: 0 6px;
  font-weight: 700;
}

.advance_search {
  margin-left: 10px;
}

.web_body_wraper {
  margin-top: 20px;
  position: relative;
  display: block;
}
.web_footer_wraper {
  display: block;
  position: relative;
  margin-top: 20px;
  width: 100%;
  bottom: 0px;
}
.top_side_menu {
  background: lightseagreen;
  height: 100px;
}
.left_side_menu {
    position: relative;
    background:white;
    width: 20%;
    float: left;  
    margin-top: 5px;  
    padding-bottom: 10px;
}
/* BEGIN EDIT HUUDANH-SV */
.product_container {
    position: relative;
/* BEGIN EDIT ANMOC-SV */
    width: 80%;
    /* END EDIT ANMOC-SV */
    float: left;
}

/* END EDIT HUUDANH-SV */

/* BEGIN ADD BAO-SV */
.instruction-text {
  position: relative;
  display: block;
  font-size: 20px;
}

.modal_information {
  margin: 10px;
}

.area_password {
  margin: 0 auto;
}

.entry_information {
  margin-bottom: 10px;
}
/* END ADD BAO-SV */