
.wrap{

    margin-top: 50px;
}

.item{
    
   
}

th{
    width: 50%;
}

.wrap-table{
    margin: 50px 0px;
}

.titleItem{
   font-weight: 400;
    margin: 0;
   padding: 0;
}
.imgItem{
     margin: 0;
    padding: 0;
    height: 100px;
}