
.left_side_menu {
    box-shadow: 0 0 2px black;
    cursor: pointer;
    margin-bottom: 20px;   
    border: 1px solid #1abc9c;
    font-family: 'Assistant';
}
.left_side_menu_title {
    background: #1abc9c;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left_side_child_menu_title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 1.2em;    
    text-align: left;
    color: #16a085;
    border:  1px solid #16a085;;
    border-style: solid none solid none;
}
.menu_item {
    text-align: left;
    color: #2c3e50;
    font-size: 1.1em;
    padding-left: 20%;
    padding-top: 2px;
    padding-bottom: 2px;    
}
.menu_item:hover {
    background:#1abc9c;
    color: white;
    padding-left: 25%;
}