<div class="container">

    <div class="wrap">
        <div class="row panel">
            <div class="col-8 info">
                <div class="panel-wrap">
                    <form class="form-horizontal" action="">

                        <div class="panel-title">
                            <h4 class="text-info">1. Địa chỉ giao hàng</h4>
                        </div>

                        <div class="collapse" id="collapseInfo">
                            <div class="card border-secondary collapse">

                                <div class="card-body text-secondary ">

                                    <div class="form-group row">
                                        <label class="control-label col-3">Họ và tên </label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="name" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-3" for="first">Số điện thoại</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="numberPhone" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-3" for="first">Địa chỉ giao hàng</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="adress" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-3"></div>
                                        <div class="col-9">
                                            <button class="btn btn-outline-info cancel" type='button'> Hủy bỏ</button>
                                            <button class="btn btn-outline-info update" type='button'> Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-title">
                            <h4 class="text-info">2. Chọn hình thức thanh toán</h4>
                        </div>
                        <div class="card border-secondary">

                            <div class="card-body text-secondary">



                                <div class="form-group row">
                                    <div class="col-1">
                                        <input checked type="radio" name="shipping_plan1" value="1" id="plan-2">
                                    </div>

                                    <div class="col-11">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Thanh toán tiền mặt khi nhận hàng
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-1">
                                        <input type="radio" name="shipping_plan1" value="1" id="plan-2">
                                    </div>

                                    <div class="col-11">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Thanh toán bằng thẻ Visa, Master card
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-title">
                            <h4 class="text-info">3. Chọn hình thức giao hàng</h4>
                        </div>
                        <div class="card border-secondary">

                            <div class="card-body text-secondary">
                                <div class="form-group row">
                                    <div class="col-1">
                                        <input checked type="radio" name="shipping_plan" value="1" id="plan-1">
                                    </div>

                                    <div class="col-11">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Giao hàng tiêu chuẩn
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-1">
                                        <input type="radio" name="shipping_plan" value="1" id="plan-1">
                                    </div>

                                    <div class="col-11">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Giao hàng nhanh
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>

            <div class="col-4 checkout">
                <div class="panel-checkout">
                    <form class="form-horizontal" action="">

                        <div class="card border-secondary">
                            <div class="card-body text-secondary">
                                <div>
                                    <span class="text-info" style="font-size: 16px;">Địa chỉ giao hàng</span>
                                    <button style="float:right" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#collapseInfo"
                                        aria-expanded="false" aria-controls="collapseInfo" id="repairInfo"> Sửa</button>
                                    <hr>
                                </div>

                                <div class="information">

                                </div>
                            </div>
                        </div>
                        <div class="panel-default"></div>
                        <div class="card border-secondary">
                            <div class="card-body text-secondary">
                                <div>
                                    <h4 class="text-info">Đơn hàng</h4>
                                    <hr>
                                </div>

                                <div class="product">

                                </div>
                                <hr>
                                <p class="list-info-price">
                                    Tạm tính
                                    <span style="float: right;">40.000&nbsp;đ</span>
                                </p>

                                <p class="list-info-price">
                                    Phí giao hàng
                                    <span style="float: right;">0&nbsp;đ</span>
                                    <hr>
                                </p>

                                <div class="list-info-price">
                                    <b>Thành tiền</b>
                                    <span class="text-danger" style="float: right;">40.000&nbsp;đ</span>

                                </div>

                                <div style="margin-top: 20px">
                                    <button style="width: 100%" class="btn btn-warning" type='button'> Thanh toán</button>
                                </div>

                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>