/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: local('Assistant'), local('Assistant-Regular'), url(/stylesheets/fonts/2sDcZGJYnIjSi6H75xkzamW5O7w.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: local('Assistant'), local('Assistant-Regular'), url(/stylesheets/fonts/2sDcZGJYnIjSi6H75xkzaGW5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.web_container {
  margin: 0 auto;
}

body {
  background: #f4f4f4;
  position: relative;
}

.color_header {
  background: #1abc9c;
}

.color_navbar {
  background-color: #34495e;
}

.flex {
  display: flex;
}

.custom_header {
  padding: 10px 20px;
  display: flex;
}

.full_width {
  width: 100%;
}

.color_footer {
  background: #34495e;
  margin: auto;
  color: white;
  padding: 10px;
  text-align: center;
}

.check_out {
  vertical-align: middle;
  border: 2px solid #2d3436;
  padding: 10px 11px 10px 11px;
  border-radius: 4px;
}

.check_out .text {
  margin-left: 10px;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
a {
  text-decoration: none!important;
}
.check_out img {
  margin-bottom: 6px;
}
.check_out:hover {
  background: #0984e3;
  border: none;
}
.check_out .count {
  color: #4a4a4a;
  background: #fdd835;
  height: 20px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  margin-left: 9px;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 0 5px;
  font-weight: 700;
}

.advance_search {
  margin-left: 10px;
}

.web_body_wraper {
  margin-top: 20px;
  position: relative;
  display: block;
}
.web_footer_wraper {
  display: block;
  position: relative;
  margin-top: 20px;
  width: 100%;
  bottom: 0px;
}
.left_side_menu {
    position: relative;
    background:white;
    width: 20%;
    float: left;  
    margin-top: 5px;  
    padding-bottom: 10px;
}
/* BEGIN EDIT DANH-NH */
.product_container {
    position: relative;
/* BEGIN EDIT AN-MT */
    width: 80%;
    /* END EDIT AN-MT */
    float: left;
}

/* END EDIT DANH-NH */

/* BEGIN ADD BAO-TQ */
.instruction-text {
  position: relative;
  display: block;
  font-size: 20px;
}

.modal_information {
  margin: 10px;
}

.area_password {
  margin: 0 auto;
}

.entry_information {
  margin-bottom: 10px;
}
/* END ADD BAO-TQ */

/* BEGIN ADD CAM-SV */
.control-group {
	margin-top: 10px;
  padding-left: 60px;
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* rating star */
.checked {
  color: orange;
}
/* END ADD CAM-SV */
/* BEGIN ADD DANH-NH */
#linkDashboard, #linkItemManager, #linkOrderManager{
  color: white;
}

#linkDashboard:hover, #linkItemManager:hover, #linkOrderManager:hover{
  color: #81ecec;
}
/* END ADD DANH-NG */