
.left_side_menu {
    box-shadow: 0 0 2px black;
    cursor: pointer;
    margin-bottom: 20px;   
    border: 1px solid #1abc9c;
    font-family: 'Assistant';
}
.left_side_menu_title {
    background: #1abc9c;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
.left_side_child_menu_title {
    margin-left: 5px;
    margin-right: 5px;    
    padding-top: 5px;
    padding-bottom: 5px;
    /* BEGIN EDIT CAM-SV */
    /* chỉnh lại padding left 5px cho đủ chỗ hiển thị tên item */
    padding-left: 5px;
     /* END EDIT CAM-SV */
    font-size: 1.2em;    
    text-align: left;
    color: #16a085;
  
}
.menu_item {
    text-align: left;
    color: #2c3e50;
    font-size: 1.1em;
    /* BEGIN EDIT CAM-SV */
    /* chỉnh lại padding left 10px cho đủ chỗ hiển thị tên item */
    padding-left: 10px;
    /* END EDIT CAM-SV */
    padding-top: 2px;
    padding-bottom: 2px;    
}
.menu_item:hover {
    background:#1abc9c;
    color: white;
    /* BEGIN EDIT CAM-SV */
    /* tắt hover khi lia chuột vào menu item */
    /* lý do: ko đủ chỗ để hiển thị item nếu padding left 25% -> bị xuống dòng -> xấu */
    /* padding-left: 25%; */
    /* END EDIT CAM-SV */
}

/* BEGIN ADD CAM-SV */
/* chỉnh vị trí cho icon extend bên left style menu */
.left_side_child_menu_row {
    margin: 0!important;
    border:  1px solid #16a085;;
    border-style: none none solid none;
    padding: 5px 0 5px 0;
}
.btn_extend {
    text-align: right;
    font-size: 1.2em;    
    color: #16a085;
    padding: 5px;
}

/* END ADD CAM-SV */